.headerWrap {
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
}
/* nav brand */
.brand {
  font-size: 25px;
  font-weight: 600;
  font-family: "Varela Round", sans-serif;
  color: #9b1fe9;
  color: var(--primary-text-color);
  text-decoration: none;
}
/* 3 button */
.infoBtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* sing login and faq  */
.userPart {
  font-size: 16px;
  border: 1px solid #ddd;
  padding: 1px 12px;
  border-radius: 3px;
  color: #6d7380;
  color: var(--gray-white-text-color);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
/* user icon */
.icon {
  border: 1px solid #eee;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  padding: 10px;
  box-shadow: 0 4px 10px -9px #6d7380;
  box-shadow: 0 4px 10px -9px var(--gray-white-text-color);
  cursor: pointer;
}
/* wallet */
.walletIcon {
  color: #9b1fe9;
}
/* userCon */
.userIcon {
  font-size: 25px;
  margin-left: 15px;
}
/* eherum ebutton content */
.etherume {
  font-size: 8px;
  border: 1px solid #ddd;
  padding: 3px 12px;
  border-radius: 3px;
  color: #6d7380;
  color: var(--gray-white-text-color);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
/* wallet seleticon */
.waletConnect {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  background: transparent;
  border: 2px solid #9b1fe9;
  border: 2px solid var(--primary-text-color);
  padding: 9px 20px;
  border-radius: 3px;
  font-size: 12px;
  color: #9b1fe9;
  color: var(--primary-text-color);
  font-weight: 600;
  cursor: pointer;
  justify-content: center;
  gap: 5px;
}
.toggle {
  outline: none !important;
}
