.input {
  margin-top: 5px !important;
  outline: none;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 3px;
  width: 100%;
  outline: none;
}
.input:focus {
  box-shadow: none;
  outline: none;
  border: none;
}
.label {
  color: var(--primary-text-color);
  font-weight: 600;
}
